<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <style>

    </style>
</head>
<body>
    <h1>Reset Password</h1>

    {% if message %}
    <p>{{ message }}</p>
    {% endif %}

    <form method="POST">
        <label for="verification_code">Verification Code:</label>
        <input type="text" id="verification_code" name="verification_code" required>
        <br>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Reset">
    </form>
</body>
</html>
